@import '@/styles/tokens.scss';

.block {
  margin-top: $spacing-sm;
}

.blockTitle {
  font-size: $font-size-xs;
  font-weight: $font-weight-bold;
  color: $color-text-secondary;
  text-transform: uppercase;
  margin: 0;
}
